<header class="cabecera">
    <h1>Convesión</h1>
</header>

<div class="main" [ngClass]="{'active': !viewMenu}">
    <div class="wrap" [ngClass]="{'active': viewMenu}">
        <a (click)="toggleViewMenu()" routerLink="calculadora" class="options">
            <div>
                <i class="fas fa-calculator"></i>
                <p>Calculadora</p>
            </div>
        </a>
        <a (click)="toggleViewMenu()" routerLink="moneda" class="options">
            <div>
                <i class="fas fa-money-bill-alt"></i>
                <p>Moneda</p>
            </div>
        </a>
        <a (click)="toggleViewMenu()" routerLink="longitud" class="options">
            <div>
                <i class="fas fa-ruler-combined"></i>
                <p>Longitud</p>
            </div>
        </a>
        <a (click)="toggleViewMenu()" routerLink="area" class="options">
            <div>
                <i class="fas fa-cube"></i>
                <p>Area</p>
            </div>
        </a>
        <a (click)="toggleViewMenu()" routerLink="masa" class="options">
            <div>
                <i class="fas fa-weight"></i>
                <p>Masa</p>
            </div>
        </a>
        <a (click)="toggleViewMenu()" routerLink="volumen" class="options">
            <div>
                <i class="fas fa-glass-whiskey"></i>
                <p>Volumen</p>
            </div>
        </a>
        <a (click)="toggleViewMenu()" routerLink="temperatura" class="options">
            <div>
                <i class="fas fa-glass-whiskey"></i>
                <p>Temperatura</p>
            </div>
        </a>
        <a (click)="toggleViewMenu()" routerLink="combustible" class="options">
            <div>
                <i class="fas fa-gas-pump"></i>
                <p>Combustible</p>
            </div>
        </a>
        <a (click)="toggleViewMenu()" routerLink="cocina" class="options">
            <div>
                <i class="fas fa-mortar-pestle"></i>
                <p>Cocina</p>
            </div>
        </a>
        <a (click)="toggleViewMenu()" routerLink="velocidad" class="options">
            <div>
                <i class="fas fa-tachometer-alt"></i>
                <p>Velocidad</p>
            </div>
        </a>
        <a (click)="toggleViewMenu()" routerLink="tiempo" class="options">
            <div>
                <i class="fas fa-stopwatch"></i>
                <p>Tiempo</p>
            </div>
        </a>
        <a (click)="toggleViewMenu()" routerLink="angulo" class="options">
            <div>
                <i class="fas fa-ruler-horizontal"></i>
                <p>Ángulo</p>
            </div>
        </a>
        <a (click)="toggleViewMenu()" routerLink="densidad" class="options">
            <div>
                <i class="fas fa-archive"></i>
                <p>Densidad</p>
            </div>
        </a>
    </div>
</div>

<button class="fas fa-bars btn-menu" (click)="toggleViewMenu()"></button>

<router-outlet></router-outlet>