<div class="unit-convertion">
    <div class="unit">
        <p class="unit-title">Metro</p>
        <div class="unit-select">
            <p (click)="toggleView()">M <i class="fas fa-angle-down"></i></p>

            <div class="content-select" [ngClass]="{'hide':menuView}">
                <p>Nanometro</p>
                <p>Micrometro</p>
                <p>Milimetro</p>
                <p>Centimetro</p>
                <p>Metro</p>
                <p>Pulgada</p>
                <p>Pie</p>
                <p>Yarda</p>
                <p>Milla</p>
                <p>Milla Nautica</p>

            </div>
        </div>
    </div>
    <div class="value">
        <input type="number" value="01">
    </div>
</div>

<div class="unit-res">
    <div class="res">
        <div class="left">
            <p class="unit-name">Nanometro</p>
            <p class="symbol">NM</p>
        </div>
        <div class="right">
            <p class="value-conv">0,001</p>
        </div>
    </div>

    <div class="res">
        <div class="left">
            <p class="unit-name">Milimetro</p>
            <p class="symbol">MM</p>
        </div>
        <div class="right">
            <p class="value-conv">0,001</p>
        </div>
    </div>

    <div class="res">
        <div class="left">
            <p class="unit-name">Micrometro</p>
            <p class="symbol">μm</p>
        </div>
        <div class="right">
            <p class="value-conv">0,001</p>
        </div>
    </div>

    <div class="res">
        <div class="left">
            <p class="unit-name">Centimetro</p>
            <p class="symbol">CM</p>
        </div>
        <div class="right">
            <p class="value-conv">0,001</p>
        </div>
    </div>

    <div class="res">
        <div class="left">
            <p class="unit-name">Metro</p>
            <p class="symbol">M</p>
        </div>
        <div class="right">
            <p class="value-conv">0,001</p>
        </div>
    </div>

    <div class="res">
        <div class="left">
            <p class="unit-name">pulgada</p>
            <p class="symbol">IN</p>
        </div>
        <div class="right">
            <p class="value-conv">0,001</p>
        </div>
    </div>

    <div class="res">
        <div class="left">
            <p class="unit-name">Pie</p>
            <p class="symbol">FT</p>
        </div>
        <div class="right">
            <p class="value-conv">0,001</p>
        </div>
    </div>

    <div class="res">
        <div class="left">
            <p class="unit-name">Yarda</p>
            <p class="symbol">YD</p>
        </div>
        <div class="right">
            <p class="value-conv">0,001</p>
        </div>
    </div>
    <div class="res">
        <div class="left">
            <p class="unit-name">MILLA</p>
            <p class="symbol">M</p>
        </div>
        <div class="right">
            <p class="value-conv">0,001</p>
        </div>
    </div>
    <div class="res">
        <div class="left">
            <p class="unit-name">MILLA NAUTIVA</p>
            <p class="symbol">MN</p>
        </div>
        <div class="right">
            <p class="value-conv">0,001</p>
        </div>
    </div>
</div>
